
@import url(../css/fonts.css);

:root {
  /*   theme colors  */
  --bg-color: hsla(280, 94%, 57%, 0.11);
  --titles: hsl(280, 92%, 50%);
  --text: hsl(265, 95%, 8%);

  /*   theme font-family  */
  --Monserrat:'Monserrat', cursive;
  --Poiret:'Poiret', cursive;
}

body {
  background: linear-gradient(180deg, hsla(279, 92%, 95%, 1) 0%, hsla(279, 97%, 62%, 1) 100%);
  font-family: var(--Monserrat);
  color: var(--text);
}

.card-img-bt {
  min-height: 28vh;
}
